version: "3.8"

services:
  db:
    image: postgres:15
    container_name: shipengine_db_container
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: shipengine_redis_container
    restart: always
    ports:
      - "${REDIS_EXTERNAL_PORT}:${REDIS_PORT}"

  api:
    build: .
    container_name: shipengine_api_container
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/code

  worker:
    build: .
    container_name: shipengine_worker_container
    command: arq app.worker.WorkerSettings
    depends_on:
      - redis
      - db
    env_file:
      - .env
    volumes:
      - .:/code

volumes:
  postgres_data:
